<div>
  <mat-tab-group [color]="color" [backgroundColor]="bgColor" mat-align-tabs="center" (selectedTabChange)="onChange($event)">
    <mat-tab label="ACCORDING TO POINTS">
      <mat-card>
        <app-table [data]="dataPoint" class="container-point-table"></app-table>
      </mat-card>
    </mat-tab>
    <mat-tab label="ACCORDING TO SCORED GOALS">
      <mat-card>
        <app-table [data]="dataGoal" class="container-point-table"></app-table>
      </mat-card>
    </mat-tab>
    <mat-tab label="ACCORDING TO NUMBER OF WINS">
      <mat-card>
        <app-table [data]="dataWin" class="container-point-table"></app-table>
      </mat-card>
    </mat-tab>
  </mat-tab-group>

</div>
