.match-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.teamNameA ,.teamNameB{
  width: 35%;
  color: #ffffff;
  font-size: 20px;
  background-color: #3742fa;

}

.team-score{
  width: 10%;
  font-size: 30px;
  background-color:#ffa502;
  text-align: center;
}

.vs{
  padding-top: 40px;
  height: 100px;
  width: 10%;
  color: white;
  font-size: 30px;
  justify-content: center;
  align-items: center;
background-color:#ff4757;
  text-align: center;
}

.a{
  float: right;
}

.b{
  float: left;
}


.match-status{
  color: #ff6b81;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.shadow{
  border: 2px solid #ffa502;
}
