<table mat-table [dataSource]="data" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="clubName">
    <th mat-header-cell *matHeaderCellDef> CLUB NAME</th>
    <td mat-cell *matCellDef="let element"> {{element.clubName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="numOfPlayedMatch">
    <th mat-header-cell *matHeaderCellDef> N/MATCHES</th>
    <td mat-cell *matCellDef="let element"> {{element.numOfPlayedMatch}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="numOfWin">
    <th mat-header-cell *matHeaderCellDef> WINS</th>
    <td mat-cell *matCellDef="let element"> {{element.numOfWin}} </td>
  </ng-container>
  <ng-container matColumnDef="numOfDefeat">
  <th mat-header-cell *matHeaderCellDef> DEFEAT</th>
  <td mat-cell *matCellDef="let element"> {{element.numOfDefeat}} </td>
  </ng-container>
  <ng-container matColumnDef="numOfDraw">
    <th mat-header-cell *matHeaderCellDef> DRAWS</th>
    <td mat-cell *matCellDef="let element"> {{element.numOfDraw}} </td>
  </ng-container>
  <ng-container matColumnDef="scoredGoal">
    <th mat-header-cell *matHeaderCellDef> S/G</th>
    <td mat-cell *matCellDef="let element"> {{element.scoredGoal}} </td>
  </ng-container>

  <ng-container matColumnDef="receivedGoal">
    <th mat-header-cell *matHeaderCellDef> R/G</th>
    <td mat-cell *matCellDef="let element"> {{element.receivedGoal}} </td>
  </ng-container>

  <ng-container matColumnDef="point">
    <th mat-header-cell *matHeaderCellDef> POINTS</th>
    <td mat-cell *matCellDef="let element"> {{element.point}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
