<app-hero-image></app-hero-image>
<!--<div class="home-container">-->
<!--  <div class="card">-->
<!--    <mat-card>-->
<!--      <mat-card-header class="card-head">-->
<!--        <mat-card-title>LATEST MATCHES</mat-card-title>-->
<!--      </mat-card-header>-->
<!--      <div *ngFor="let match of matchDetails;">-->
<!--        <app-match-card class="width" [matchDetails]="match"></app-match-card>-->
<!--      </div>-->
<!--      <mat-card-actions class="card-head">-->

<!--        &lt;!&ndash;        <button mat-flat-button color="accent">ALL MATCHES</button>&ndash;&gt;-->
<!--      </mat-card-actions>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--  <div class="card">-->
<!--    <mat-card>-->
<!--      <mat-card-header class="card-head">-->
<!--        <mat-card-title>LEAGUE LEADING TEAMS</mat-card-title>-->
<!--      </mat-card-header>-->
<!--      <app-table [data]="data" class="width"></app-table>-->
<!--      <mat-card-actions class="card-head">-->
<!--      </mat-card-actions>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--</div>-->


